* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: rgb(185, 119, 236);
}

html, body {
    height: 80vh;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map legend";
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

header { 
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

main { 
    grid-area: main;
}

.portfolio {
    grid-area: portfolio;
    background-color: rgb(238, 209, 248);
    display: flex; /* This will make the items inside the portfolio flex items */
    flex-direction: column; /* This can be row if you want the items to be side by side */
    justify-content: center; /* This can be flex-start, flex-end, space-between, space-around, space-evenly */
    align-items: center; /* This can be flex-start, flex-end, stretch, baseline */
    margin-right: 20px; /* Space below the portfolio section */
    border: 5px solid #ffffff; /* Border */
    border-radius: 10px; /* Adjust the radius value as needed */
}

#map { 
    grid-area: map;
    height: 80vh;
    border: 5px solid #ffffff; /* Border */
    border-radius: 10px; /* Adjust the radius value as needed */
}

/* Legend */
#legend {
    grid-area: legend;
    height: 80vh;
    padding-left: 20px;
    /* Additional styling as needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.legend-item {
    display: flex;
    align-items: center;
    height: 70px;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0; /* Example background color */
    border-radius: 5px;
}

.legend-item img {
    width: 50px; /* Adjust image width */
    height: 50px; /* Adjust image height */
    margin-right: 10px; /* Adjust spacing between image and text */
    filter: none; /* Reset filter */
    transition: filter 0.3s ease; /* Smooth transition for filter changes */
}

/* Specific styles for each marker */
.legend-item.mint img {
    filter: none; /* Mint key has no filter */
}

.legend-item.coral img {
    filter: none; /* Coral key has no filter */
}

.legend-item.blue img {
    filter: none; /* Blue key has no filter */
}

#footer {
    grid-area: footer;
    padding: 1rem;
    /* background-color: #680a88; /* Sets a darker background for contrast */
    color: #fff; /* Ensures text is readable against the dark background */
    text-align: right; /* Centers the footer content */
    justify-content: right;
}

#contents{
    padding-top: 20px; /* Adjust the value as needed */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* gap: 2px; */
    /* margin-bottom: 50px; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows with auto height (adjust as needed) */
    gap: 0px; /* Gap between grid items */
    justify-items: center; /* Center items horizontally within each grid cell */
    align-items: center; /* Center items vertically within each grid cell */
    margin: 0px; /* Adjust margin as needed */
}

#return {
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.pagelink-button {
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 80px;
    height: 25px;
    transition: opacity 0.3s ease; /* dim button */
    margin-bottom: 0px;
}

.pagelink-button:hover {
    opacity: 0.6;
}

/* custom popup styling */
.custom-popup {
   padding: 10px;
   background-color: rgb(238, 209, 248); 
   border: 2px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   font-size: 16px;
   line-height: 1.0; /* for text */
}

/* Animation for rotating the background */
@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotateBackground 0.6s ease forwards;
}

/* typography */
h1 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow: 1px 1px 2px white;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #600350;
}

h3 {
    font-size: 1.75rem;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #600350;
}

h4 {
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    padding-top: 20px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}